<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <script src="https://browser.sentry-cdn.com/5.1.0/bundle.min.js" crossorigin="anonymous"></script>
  <script>Sentry.init({ dsn: 'https://4ab883bdc9724536b9089ab2c3b4a2e4@sentry.io/1442492'});</script> -->
  <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register("<%= htmlWebpackPlugin.files.chunks['sw'].entry %>");
    }
  </script>
  <script src="<%= htmlWebpackPlugin.files.chunks['global_setting'].entry %>"></script>
</head>
<body>
  <h1>progressing bar mock</h1>
  <button id="progressing-bar-start" type="button" class="btn btn-primary">start </button>
  <div id="progressing-bar" style="height:70vh;width:80vw;position: relative;">
  </div>
  <script src="<%= htmlWebpackPlugin.files.chunks['components'].entry %>"></script>

</body>
</html>